body {
  padding-top: 60px;
}

.footer {
  text-align: center;
  padding: 30px 0;
}

.yarg-form,
.yarg_edit_profile_form {
  width: 300px;
  margin: auto;
}

.view_cv.admin {
  padding-bottom: 55px;
}

.view_cv h3 {
  border-bottom: 2px solid black;
}

.view_cv .catch {
  text-align:center;
}

.yarg_tools.navbar .nav li {
  padding-right: 30px;
}

