{% extends 'B55YargBundle::layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Yarg's homepage</h1>
      <p>Yarg (Yet Another Resume Generator)</p>
    </div>
  </div>
{% endblock %}
